.productList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.productItem {
  display: flex;
  gap: 16px;
  padding: 1.5rem;
  border: 1px solid var(--primary-grey-300);
  border-radius: 2px;
  background-color: var(--background-panels);
  text-decoration: none; /* Ensure links have no underline */
  color: inherit; /* Ensure link color is inherited */
}

.productItem:hover {
  text-decoration: none;
  box-shadow:
    var(--primary-purple-50) 0px 10px 15px -3px,
    var(--primary-purple-75) 0px 4px 6px -2px;
  transition: color 200ms;
  color: var(--primary-graphite-200);
}

.productItem:hover h3 {
  color: var(--primary-indigo-blue-500);
  text-decoration: none;
}

.icon {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--ifm-color-primary);
  color: white;
  border-radius: 50%;
}

.title {
  font-size: 1rem; /* Updated to match cardwitharrow */
  margin-bottom: 1.5rem;
}

.title:hover {
  text-decoration: none;
}

.description {
  margin-bottom: 0;
  font-size: 0.9rem; /* Updated to match cardwitharrow */
  color: inherit;
}
