.hero .title {
  font-weight: 500;
  margin-bottom: 0.5rem;
  font-size: 2rem;
}

.subtitle {
  font-size: 1.4rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  color: #727378;
}

.callToAction {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 2rem;
}
