.title {
    font-weight: 600;
    margin-bottom: 0.5rem !important;
    font-size: 3rem !important;
}

.subtitle {
    font-size: 1.4rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    color: #727378;
}

.callToAction {
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 2rem;
}
