.glossary {
  text-decoration: underline dotted;
  text-decoration-color: var(--scalekit-blue);
  cursor: help;
}
.tooltip {
  background-color: #444;
  max-width: 400px;
  line-height: 1.5em;
  color: white;
  font-size: 90%;
  padding: 8px;
  border-radius: 8px;
}
