/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
/* For readability concerns, you should choose a lighter palette in dark mode. */

/* Brand Guidelines */

:root {
  /* Primary Palette - Indigo Blue */
  --primary-indigo-blue-50: #edefff;
  --primary-indigo-blue-75: #b7bdff;
  --primary-indigo-blue-100: #99a2ff;
  --primary-indigo-blue-200: #6d79ff;
  --primary-indigo-blue-300: #4f5eff;
  --primary-indigo-blue-400: #3742b3;
  --primary-indigo-blue-500: #30399c;

  /* Primary Palette - Graphite */
  --primary-graphite-50: #e7e7e8;
  --primary-graphite-75: #9b9c9f;
  --primary-graphite-100: #727378;
  --primary-graphite-200: #35363e;
  --primary-graphite-300: #0c0d16;
  --primary-graphite-400: #08090f;
  --primary-graphite-500: #07080d;

  /* Primary Palette - Purple */
  --primary-purple-50: #f6f1ff;
  --primary-purple-75: #d8c6ff;
  --primary-purple-100: #c4aeff;
  --primary-purple-200: #b1b8ff;
  --primary-purple-300: #a173ff;
  --primary-purple-400: #7151b3;
  --primary-purple-500: #62469c;

  /* Primary Palette - Grey */
  --primary-grey-50: #fdfdfe;
  --primary-grey-75: #f7f7f9;
  --primary-grey-100: #f4f3f6;
  --primary-grey-200: #eefef3;
  --primary-grey-300: #ecebf0;
  --primary-grey-400: #a5a5a8;
  --primary-grey-500: #908f92;
}

:root {
  /* Secondary Palette - Yellow */
  --secondary-yellow-light: #fffce7;
  --secondary-yellow-light-hover: #fffddb;
  --secondary-yellow-light-active: #fffbd5;
  --secondary-yellow-normal: #ffe110;
  --secondary-yellow-normal-hover: #e6cb0e;
  --secondary-yellow-normal-active: #ccb40d;
  --secondary-yellow-dark: #fba90c;
  --secondary-yellow-dark-hover: #99870a;
  --secondary-yellow-dark-active: #736507;
  --secondary-yellow-darker: #594f06;

  /* Secondary Palette - Green */
  --secondary-green-light: #ecfbeb;
  --secondary-green-light-hover: #e2f8e1;
  --secondary-green-light-active: #c4f1c2;
  --secondary-green-normal: #40d239;
  --secondary-green-normal-hover: #3abd33;
  --secondary-green-normal-active: #33a82e;
  --secondary-green-dark: #309e2b;
  --secondary-green-dark-hover: #267e22;
  --secondary-green-dark-active: #1d5e1a;
  --secondary-green-darker: #164a14;

  /* Secondary Palette - Orange */
  --secondary-orange-light: #ffefe6;
  --secondary-orange-light-hover: #ffe7d9;
  --secondary-orange-light-active: #ffceb1;
  --secondary-orange-normal: #ff6002;
  --secondary-orange-normal-hover: #e65002;
  --secondary-orange-normal-active: #cc4002;
  --secondary-orange-dark: #bf4802;
  --secondary-orange-dark-hover: #993a01;
  --secondary-orange-dark-active: #732b01;
  --secondary-orange-darker: #592201;

  /* Secondary Palette - Blue */
  --secondary-blue-light: #e7edf6;
  --secondary-blue-light-hover: #dbe4f2;
  --secondary-blue-light-active: #b4c4e4;
  --secondary-blue-normal: #0e4a89;
  --secondary-blue-normal-hover: #0d4198;
  --secondary-blue-normal-active: #0b3a87;
  --secondary-blue-dark: #0b367f;
  --secondary-blue-dark-hover: #082b65;
  --secondary-blue-dark-active: #062d4c;
  --secondary-blue-darker: #05193b;

  /* Secondary Palette - Blue (Second Set) */
  --secondary-blue-light-2: #eaf9fd;
  --secondary-blue-light-hover-2: #dff5fc;
  --secondary-blue-light-active-2: #bcebf8;
  --secondary-blue-normal-2: #28bfe8;
  --secondary-blue-normal-hover-2: #24acd1;
  --secondary-blue-normal-active-2: #209b9a;
  --secondary-blue-dark-2: #1e8fae;
  --secondary-blue-dark-hover-2: #18738b;
  --secondary-blue-dark-active-2: #125668;
  --secondary-blue-darker-2: #0e4351;

  /*Semantic Palette*/
  --semantic-palette-green: #36b37e;
  --semantic-palette-orange: #ff5631;
  --semantic-palette-purple: #6554c0;
}

[data-theme='dark'] {
  --ifm-color-primary: #fff;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

:root {
  --ifm-h1-font-size: 2rem;
  --ifm-color-primary: #08090f;
  --ifm-font-color-base: #0c0d16;
  --ifm-line-height-base: 1.4;
  --ifm-color-primary-dark: #4f5eff;
  --ifm-color-primary-darker: #3742b3;
  --ifm-color-primary-darkest: #30399c;
  --ifm-color-primary-light: #b7bdff;
  --ifm-color-primary-lighter: #99a2ff;
  --ifm-color-primary-lightest: #6d79ff;
  --ifm-code-font-size: 100%;
  --ifm-menu-color: #0c0d16;
  --ifm-menu-color-active: #0b3a87;
  --ifm-heading-font-family: 'Inter', 'IBM Plex Sans', sans-serif;
  --ifm-heading-font-weight: 550;
  --ifm-font-weight-bold: 600;
  --ifm-font-weight-semibold: 450;
  --ifm-font-family-base: 'Inter', sans-serif, system-ui;
  --ifm-font-family-monospace: 'Fira Code', 'Roboto Mono', monospace, monospace;
  --scalekit-blue: #4f5eff;
  --tblr-blue: #206bc4;
  --tblr-azure: #4299e1;
  --tblr-indigo: #4263eb;
  --tblr-purple: #ae3ec9;
  --tblr-pink: #d6336c;
  --tblr-red: #d63939;
  --tblr-orange: #f76707;
  --tblr-yellow: #f59f00;
  --tblr-lime: #74b816;
  --tblr-green: #2fb344;
  --tblr-teal: #0ca678;
  --tblr-cyan: #17a2b8;
  --tblr-primary: #206bc4;
  --tblr-secondary: #656d77;
  --tblr-success: #36b37e;
  --tblr-info: #4299e1;
  --tblr-warning: #f76707;
  --tblr-danger: #d63939;
  --tblr-light: #f4f6fa;
  --tblr-dark: #232e3c;
  --tblr-font-sans-serif: 'IBM Plex Sans', 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
  --tblr-font-monospace: monospace;
  --tblr-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --doc-sidebar-width: 280px !important;
  --ifm-link-color: #4f5eff;
  --ifm-menu-color-background-active: #e7edf6;
  --ifm-link-menu-color-background-hover: #0d4198;
  --ifm-menu-link-padding-horizontal: 16px;
  --ifm-menu-link-padding-vertical: 10px;
  --ifm-tabs-padding-vertical: 2px;
  --ifm-tabs-padding-horizontal: 5px;
  --ifm-toc-border-color: #ecebf0;
  --scalar-color-accent: #f4f3f6;
  --scalar-sidebar-color-active: #000;
  --scalar-sidebar-item-active-background: #f0f0f0;
  --scalar-background-accent: #f0f0f0;
  --scalar-docsearch-boxshadow: none; /* not used anywhere else, yet*/
  --ifm-pre-border-radius: 10;
  --ifm-code-border-radius: 10;
  --ifm-global-shadow-lw: none;
  --ifm-table-head-font-weight: 500;
  --ifm-list-paragraph-margin: 10px;
  --ifm-paragraph-margin-bottom: 10px;
  --ifm-table-border-color: #e8e8e8;
  --shiki-highlight-codelines-light: rgba(200, 200, 255, 0.3);
  --ifm-boundary-subtle-color: #4f5eff;
}

:root {
  font-size: 14.4px;
}

.button--primary {
  --ifm-button-background-color: var(--primary-purple-300);
  --ifm-button-border-color: var(--primary-purple-300);
  padding: 0.75rem 1.5rem;
}
:where(.button--primary):not(.button--outline):hover {
  --ifm-button-background-color: var(--primary-purple-300);
  opacity: 0.9;
  --ifm-button-border-color: var(--primary-purple-200);
}

.button--tertiary {
  background-color: transparent;
  font-size: 1.05rem;
  text-decoration: underline;
  color: var(--primary-graphite-400);
  padding-left: 0px;
}
:where(.button--tertiary):not(.button--outline):hover {
  /* background-color: transparent; */
  /* opacity: 0.9; */
  text-decoration: underline; /* Remove underline */
  border: none;
  color: var(--primary-purple-500);
  transition:
    background-color 0.3s,
    color 0.3s;
}

.cta-container {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Adjust the gap between buttons */
  align-items: left; /* Center the buttons */
}

.button {
  max-width: 300px; /* Set a max width for the buttons */
  text-align: left;
}

.homepage {
  margin: 0 7%;
}

.homepage .row {
  margin-left: -5%;
}

.homepage .hero {
  background: #edefff;
  margin: 0 -20%;
  padding: 0 15%;
  margin-top: -2rem;
}
.homepage .footerLink {
  margin-left: -5%;
  padding: 0 var(--ifm-spacing-horizontal);
}
.theme-code-block {
  display: grid;
}

.container {
  margin: 0;
  max-width: 100% !important;
}

.theme-doc-breadcrumbs {
  display: none;
}

.theme-doc-markdown {
  margin-top: 8px;
}

figure.width-50 {
  width: 50%;
}

figure.width-75 {
  width: 75%;
}

.reduced-image {
  width: 10%;
}

figure {
  margin: 1.5rem auto;
  text-align: center;
}

figcaption {
  text-align: center;
  font-size: smaller;
}

.title_node_modules-\@docusaurus-theme-classic-lib-theme-DocCategoryGeneratedIndexPage-styles-module {
  font-size: 2rem;
  margin: 1rem 0 0 2rem;
}

.medium-zoom-image--opened,
figure img {
  background: #f5f5f5 50% / cover no-repeat;
  border-radius: 6px;
  padding: 8px;
}

.navbar {
  /* display: none; */
  border-bottom: 1px solid var(--ifm-toc-border-color);
}

.navbar__item {
  padding: 0.55rem 1rem;
}

.navbar__item:hover {
  padding: 0.55rem 1rem;
  background-color: #eeeeee;
  padding: 0.55rem 1rem;
}

.navbar__item:hover {
  padding: 0.55rem 1rem;
  background-color: #eeeeee;
}

.limited-width {
  max-width: 100%;
  width: 65%; /* Adjust this value as needed */
  margin: 0 auto; /* Center the figure */
}

.sidebar-group-item:has(.active_page) .sidebar-group-item__folder {
  color: #000 !important;
}

.active_page.sidebar-heading:hover,
.active_page.sidebar-heading,
.active_page .sidebar-heading-link,
.active_page .sidebar-heading-link:hover,
.active_page.sidebar-heading:hover .sidebar-heading-link-title {
  color: #000 !important;
}

.table-of-contents {
  font-size: 12px;
  line-height: 24px;
}

.table-of-contents__link {
  font-family: 'Inter', 'IBM Plex Sans', sans-serif;
}

.table-of-contents__link--active,
.table-of-contents__link--active code,
.table-of-contents__link:hover,
.table-of-contents__link:hover code {
  font-weight: 400;
  color: #0d4198;
}

.menu.thin-scrollbar,
.sidebar-group {
  padding: 0.5rem 0 0.5rem 0;
  margin-right: 0px;
  font-size: 14px;
  border-right: 1px solid var(--ifm-toc-border-color);
}

.menu__list-item {
  margin-left: 0 !important;
}

/* .sso_category .menu__list-item-collapsible .menu__link:before {
  content: '';
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-cpu'%3E%3Crect width='16' height='16' x='4' y='4' rx='2'/%3E%3Crect width='6' height='6' x='9' y='9' rx='1'/%3E%3Cpath d='M15 2v2'/%3E%3Cpath d='M15 20v2'/%3E%3Cpath d='M2 15h2'/%3E%3Cpath d='M2 9h2'/%3E%3Cpath d='M20 15h2'/%3E%3Cpath d='M20 9h2'/%3E%3Cpath d='M9 2v2'/%3E%3Cpath d='M9 20v2'/%3E%3C/svg%3E") 50% / 1rem 1rem;
  margin-right: 5px;
  margin-left: -1.25rem;
  line-height: 1.25rem;
  width: 1.25rem;
  height: 1.25rem;
} */

.menu__link--sublist-caret:before {
  content: none;
  /* removes the arrow icone*/
  margin-right: 2px;
  margin-left: -1.25rem;
  line-height: 28px;
  /* background: var(--ifm-menu-link-sublist-icon) 50% / 1.5rem 1.5rem; */
  filter: var(--ifm-menu-link-sublist-icon-filter);
  height: 1.25rem;
  transform: rotate(180deg);
  width: 1.25rem;
  transition: transform var(--ifm-transition-fast) linear;
}

.theme-doc-sidebar-menu .menu__list {
  line-height: 26px;
}

/**secondary nav*/
.secondary_nav_container {
  -webkit-box-pack: justify;
  justify-content: space-between;
  align-items: flex-start;
  height: 42px;
  transition-duration: 0.25s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-behavior: normal;
  transition-property: height;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  border-bottom: 1px solid var(--ifm-toc-border-color);
}

.secondary_nav_container > div {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  justify-content: flex-start;
  padding-left: 24px;
  height: 100%;
}

.secondary_nav_container a {
  text-decoration-style: solid;
  text-decoration-color: currentcolor;
  text-decoration-line: none;
  margin-top: -1px;
  margin-right: 0px;
  margin-bottom: -1px;
  margin-left: 0px;
  padding: 0 20px;
  height: 44px;
  line-height: 44px;
  white-space-collapse: collapse;
  overflow-x: hidden;
  overflow-y: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
  color: rgb(17, 19, 23);
}

.secondary_nav_container a.active {
  font-weight: 500;
}

.menu__list-item--collapsed .menu__link--sublist::before,
.menu__list-item--collapsed .menu__caret::before {
  transform: rotateZ(90deg);
}

/* This reduces the size of > arrow in the sub items*/
.menu__link--sublist-caret:after {
  background: var(--ifm-menu-link-sublist-icon) 30% / 1.2rem 1.2rem;
}

.menu__list .menu__list {
  margin-top: 0px;
}

/* Adds space between the last item and the bottom of the sidebar */
.menu__list:last-child {
  margin-bottom: 50px;
}

.menu__list-item:not(:first-child) {
  margin-top: 0px;
}

.menu__list-item-collapsible {
  font-weight: 500;
  /* font-size: 0.875rem; */
  margin-top: 2px;
}

.menu__list-item-collapsible:hover {
  background: none;
}

.theme-doc-sidebar-item-category-level-1 {
  margin-bottom: 24px;
}

/*
.theme-doc-sidebar-item-link-level-1 {
    margin-bottom: 4px;
} */

/*custom: selector for categories within categories*/
.theme-doc-sidebar-item-category-level-2 .menu__list-item-collapsible {
  font-weight: 400;
}

.menu__list-item,
.sidebar-group-item {
  font-weight: 400;
  margin-left: 6px;
}

.menu__link--active,
.active_page {
  font-weight: 500;
  font-size: inherit;
}
.menu__link {
  border-left: 2px solid transparent;
  line-height: 20px;
  color: var(--primary-graphite-300);
  padding: 8px 16px;
  font-size: 13px;
}
.menu__link--active:not(.menu__link--sublist) {
  border-left: 2px solid var(--primary-purple-400);
  border-radius: 0;
}

.menu__caret:before {
  background: var(--ifm-menu-link-sublist-icon) 50% / 1.5rem 1.5rem !important;
}

.badge--primary {
  margin-bottom: 1rem;
}

.badge--success {
  font-size: 0.85rem;
  background-color: var(--semantic-palette-green);
  color: #fff;
}

.badge--lang {
  font-size: 0.8rem;
  padding: 0.1rem 0.2rem;
  border: 1px solid var(--primary-graphite-75);
  border-radius: 10px;
  background-color: var(--secondary-blue-light-2);
  color: var(--primary-graphite-200);
}

.sidebar-heading.active_page .sidebar-heading-type,
.sidebar-heading-type-active {
  color: color-mix(in srgb, var(--method-color, var(--scalar-color-1)), transparent 0%);
  background: var(--method-color, transparent);
}

.subtitle {
  margin-top: -15px !important;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--ifm-toc-border-color);
  font-size: 1.25rem;
  color: #727378;
}

article,
nav.pagination-nav,
.feedbackFooter {
  padding: 0 5%;
}

.pagination-nav__link {
  border: 0;
  padding: 10px 0;
}

.pagination-nav__sublabel {
  display: none;
}

.pagination-nav__link--prev .pagination-nav__label::before {
  content: '←  ';
}

.pagination-nav__link--next .pagination-nav__label::after {
  content: '  →';
}

.pagination-nav__label {
  color: var(--ifm-link-color);
  font-weight: 600;
  font-family: inherit;
}

.menu__caret {
  size: small;
}

p {
  line-height: 26px;
}

.admonition {
  font-family: var(--tblr-font-sans-serif);
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  letter-spacing: 0;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga' 0;
  -webkit-font-smoothing: antialiased;
  --tblr-gutter-y: 0;
  --tblr-gutter-x: 2rem;
  word-wrap: break-word;
  font-size: 0.875rem;
  line-height: 1.4285714;
  color: #232e3c;
  box-sizing: border-box;
  position: relative;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  background: #fff;
  border: 1px solid rgba(101, 109, 119, 0.16);
  box-shadow: rgba(35, 46, 60, 0.04) 0 2px 4px 0;
  border-left: 0.25rem solid var(--tblr-alert-color);
}

.admonition-heading {
  display: none;
}

.admonition-tip {
  --tblr-alert-color: var(--semantic-palette-green);
}

.admonition-info {
  --tblr-alert-color: var(--semantic-palette-purple);
}

.theme-admonition {
  background: none;
  border-radius: 0;
  margin: 1.5rem 0 !important;
}

.theme-admonition.theme-admonition-warning {
  border-top: 1px solid var(--secondary-orange-normal);
  border-right: 1px solid var(--secondary-orange-normal);
  border-bottom: 1px solid var(--secondary-orange-normal);
}

.theme-admonition.theme-admonition-info {
  border-top: 1px solid var(--secondary-purple-normal);
  border-right: 1px solid var(--secondary-purple-normal);
  border-bottom: 1px solid var(--secondary-purple-normal);
}

.theme-admonition.theme-admonition-tip {
  border-top: 1px solid var(--secondary-green-normal);
  border-right: 1px solid var(--secondary-green-normal);
  border-bottom: 1px solid var(--secondary-green-normal);
}

.theme-admonition.theme-admonition-note {
  border-top: 1px solid var(--primary-grey-500);
  border-right: 1px solid var(--primary-grey-500);
  border-bottom: 1px solid var(--primary-grey-500);
  border-left-color: var(--primary-grey-500);
  svg {
    color: var(--primary-grey-500);
    transform: scale(0.8);
  }
}

.request-card-footer {
  display: none !important;
}

.screenshot-full {
  border: 1px solid #dadde1;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.navbar__link {
  color: var(--primary-graphite-400);
  margin: 0 0.5rem;
  border-radius: 4px;
  font-size: 14px;
}

.navbar__secondary .navbar__link--active {
  background: none;
  border-radius: 0;
  border-bottom: 2px solid var(--ifm-color-primary);
}

.navbar__link--active {
  background-color: #eeeeee;
  font-weight: 600;
}

a.dropdown__link:has(span.product-dropdown-label) {
  color: gray;
  cursor: default;
  pointer-events: none;
}

a.dropdown__link:has(span.product-dropdown-label):hover {
  background: none;
}

@media screen and (max-width: 996px) {
  :root {
    --ifm-font-size-base: 16px;
  }

  article h1 {
    font-size: 1.5rem !important;
  }

  article h2 {
    font-size: 1.25rem !important;
  }

  article h3 {
    font-size: 1.1rem !important;
  }
}

@media screen and (min-width: 997px) {
  :root {
    --ifm-font-size-base: 16px;
  }
  aside.theme-doc-sidebar-container {
    border-right: none !important;
  }

  /* .table-of-contents {
    border: none !important;
  } */

  article h1 {
    font-size: 2rem !important;
  }

  article h2 {
    font-size: 1.5rem !important;
  }

  article h3 {
    font-size: 1.125rem !important;
  }

  .col.docItemCol_node_modules-\@docusaurus-theme-classic-lib-theme-DocItem-Layout-styles-module {
    max-width: fit-content !important;
    min-width: 75%;
  }

  .page_right_hint {
    position: fixed;
    top: 10vw;
    /*Together, the right and width occupy 22% of the screen width. vw dynamically calculates the viewport's width*/
    right: 2vw;
    width: calc(20vw);
  }
}
@media (pointer: fine) {
  .thin-scrollbar {
    scrollbar-width: auto;
    margin-right: 0px;
    padding-right: 0px;
  }
}
.cardContainer {
  --ifm-link-color: var(--ifm-color-emphasis-800);
  --ifm-link-hover-color: var(--ifm-color-emphasis-700);
  --ifm-link-hover-decoration: none;
  border: 1px solid var(--ifm-color-emphasis-200);
  transition: all var(--ifm-transition-fast) ease;
  transition-property: border, box-shadow;
  padding: 12px;
  border-radius: 4px;
}

.cardContainer:hover {
  box-shadow:
    0 0 0 1px rgba(50, 50, 93, 0.01),
    0 7px 14px 0 rgba(50, 50, 93, 0.1),
    0 3px 6px 0 rgba(0, 0, 0, 0.02);
}

.cardContainer h3 {
  font-size: 1.25rem;
}

.cardContainer img,
.cardContainer svg {
  float: left;
  margin-right: 12px;
  width: 36px;
  height: 36px;
}

.cardContainer h3 p {
  float: left;
  line-height: 32px;
}

ul.table-of-contents.table-of-contents__left-border:before {
  content: 'ON THIS PAGE';
  min-width: 100%;
  text-align: center;
  margin-left: 8px;
  font-weight: 500;
}

.card-icon img {
  box-shadow: none;
  border-radius: 0;
}

/* custom: makes collapsibles weight */
/* .menu__link.menu__link--sublist.menu__link--sublist-caret {
  font-weight: 400;
} */

.menu__link--sublist:after {
  padding-top: 0.3rem;
  height: 0.6rem;
  width: 0.75rem;
}

.hero--primary {
  --ifm-hero-background-color: #00bcd4;
}

.navbar {
  /* padding: 0 var(--ifm-navbar-padding-horizontal); */
  height: 64px;

}

/* #__docusaurus > nav {
  display: flex;
  align-items: center;
} */


.navbar:has(.navbar__secondary) {
  display: block;
}
.navbar:has(.navbar__secondary) ~ .main-wrapper {
  --ifm-navbar-height: 7rem;
}

.navbar__logo {
  cursor: pointer;
  height: var(--ifm-navbar-height);
}

@media screen and (max-width: 1200px) {
  .navbar__logo {
    height: calc(var(--ifm-navbar-height) * 0.8); /* Adjust the multiplier as needed */
  }
}

.alert a {
  color: inherit;
}

.menu {
  overflow: hidden;
}

.menu:hover {
  overflow-y: auto;
}

.navbar-social-link:hover {
  opacity: 0.6;
}

.navbar-social-link::before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background-repeat: no-repeat;
}

.navbar-github-logo::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23181717' aria-hidden='true' viewBox='0 -2 28 28' version='1.1' data-view-component='true' %3E%3Cpath fill-rule='evenodd' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12' %3E%3C/path%3E%3C/svg%3E");
}

[data-theme='dark'] .navbar-github-logo::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' aria-hidden='true' viewBox='0 -2 28 28' version='1.1' data-view-component='true' %3E%3Cpath fill-rule='evenodd' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12' %3E%3C/path%3E%3C/svg%3E");
}

.navbar-slack-logo::before {
  background-image: url('https://cdn.worldvectorlogo.com/logos/slack-new-logo.svg');
  width: 20px;
  height: 20px;
}

[data-theme='dark'] .navbar-slack-logo::before {
  background-image: url('https://cdn.worldvectorlogo.com/logos/slack-new-logo.svg');
  width: 20px;
  height: 20px;
}

.navbar-twitter-logo::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='currentColor' viewBox='0 0 512 512' aria-hidden='true'%3E%3Cpath d='M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z' %3E%3C/path%3E%3C/svg%3E");
}

[data-theme='dark'] .navbar-twitter-logo::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 512 512' aria-hidden='true'%3E%3Cpath d='M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z' %3E%3C/path%3E%3C/svg%3E");
}

[data-theme='light'] .DocSearch {
  --docsearch-primary-color: var(--ifm-color-primary);
  --docsearch-text-color: var(--ifm-font-color-base);
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(94, 100, 112, 0.7);
  /* Modal */
  --docsearch-modal-background: var(--ifm-color-secondary-lighter);
  /* Search box */
  --docsearch-searchbox-background: #fdfdfe;
  --docsearch-searchbox-focus-background: var(--ifm-color-white);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-white);
  /* Footer */
  --docsearch-footer-background: var(--ifm-color-white);
}

[data-theme='dark'] .DocSearch {
  --docsearch-text-color: var(--ifm-font-color-base);
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(47, 55, 69, 0.7);
  /* Modal */
  --docsearch-modal-background: var(--ifm-background-color);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-background-color);
  --docsearch-searchbox-focus-background: var(--ifm-color-black);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-emphasis-100);
  /* Footer */
  --docsearch-footer-background: var(--ifm-background-surface-color);
  --docsearch-key-gradient: linear-gradient(
    -26.5deg,
    var(--ifm-color-emphasis-200) 0%,
    var(--ifm-color-emphasis-100) 100%
  );
}

/*Fixing Searchbar styling*/
.DocSearch.DocSearch-Button {
  border-radius: 4px !important;
  border: 1.1px solid;
  height: 32px;
  width: 20vw;
  border-color: #cecece;
  font-family: var(--ifm-font-family-base);
}

.DocSearch-Form {
  box-shadow: #ffffff;
}

.DocSearch.DocSearch-Button:active,
.DocSearch.DocSearch-Button:focus,
.DocSearch.DocSearch-Button:hover {
  outline: 0;
  box-shadow: none;
  border: 1.5px solid var(--primary-grey-400);
  color: var(--docsearch-muted-color);
}

.DocSearch-Search-Icon {
  height: 13px;
  width: 13px;
}

.DocSearch-Button-Placeholder {
  font-size: 0.85rem;
}

@media screen and (min-width: 768px) {
  .DocSearch-Button-Container {
    min-width: 200px;
    /* Fixes #3856 */
  }
}

.DocSearch-Button .DocSearch-Search-Icon {
  color: var(--docsearch-muted-color) !important;
}

.DocSearch-Button-Keys {
  min-width: 0 !important;
}

.DocSearch-Button-Keys .DocSearch-Button-Key {
  align-items: center;
  background: none;
  box-shadow: none;
  color: var(--docsearch-muted-color);
  display: flex;
  justify-content: center;
  position: relative;
  border: 0;
  top: 0;
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
  font: 1rem var(--ifm-font-family-monospace);
  margin-left: 2px;
}
A .DocSearch-Button-Keys .DocSearch-Button-Key:last-child {
  font-size: 0.85rem;
}

.DocSearch-Button-Keys .DocSearch-Button-Key--pressed {
  color: var(--docsearch-text-color);
}

/*default hide all the elements other than the content*/
.theme-doc-sidebar-container,
nav.navbar,
nav.pagination-nav,
footer,
.theme-doc-breadcrumbs,
.feedbackFooter {
  display: none !important;
}
/*show necessary elements when not inside an iframe*/
html[data-inside-iframe='false'] nav.pagination-nav {
  display: grid !important;
}
html[data-inside-iframe='false'] .theme-doc-sidebar-container,
html[data-inside-iframe='false'] nav.navbar,
html[data-inside-iframe='false'] footer,
html[data-inside-iframe='false'] .feedbackFooter {
  display: block !important;
}

html[data-inside-iframe='true'] main {
  max-width: 100%;
}
html[data-inside-iframe='true'] article {
  padding: 0;
}

h2[id='1-environment-setup'] {
  margin-top: 0px;
}

/* div[id="tabs:cl-6:content-getting-started"] {
  margin-top: 0px;
} */

html {
  scroll-behavior: smooth;
  line-height: 28px;
}

div.narrow-references-container > div:nth-child(2) > section > div > div > div:nth-child(2) {
  display: none;
}

pre {
  overflow: visible;
  background-color: #f6f6f6;
}

code {
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

code,
pre code {
  font-size: 12px;
  word-wrap: anywhere;
}

label:has(.persist_chkbox) {
  line-height: 1.5rem;
}
/*CSS for checkbox*/
.persist_chkbox {
  width: 18px;
  height: 18px;
  vertical-align: middle;
  display: inline-block;
  accent-color: var(--ifm-color-primary);
}

.medium-zoom-overlay,
.medium-zoom-image--opened {
  z-index: 999;
}

.tabs-container .margin-top--md {
  margin-top: 0 !important;
}

table {
  border-collapse: collapse;
  display: table;
}

table tbody {
  font-size: 0.95rem;
}

table td,
table th {
  border: 0;
}

table thead {
  background-color: aliceblue;
  text-align: left;
}

table tbody tr,
table thead tr {
  border: 1px solid var(--ifm-table-border-color);
}

/* Ensure the footer is at the bottom of the page */
footer {
  position: relative;
  margin-top: auto;
  width: 100%;
  background-color: transparent;
  /* Adjust background color as needed */
  padding-top: 3rem;
  /* Add padding for spacing */
}

.footerLink {
  margin: 1rem 0;
  vertical-align: middle;
}

svg {
  vertical-align: text-bottom;
}

.font_large {
  font-size: 1.5rem;
}

.font-1 {
  font-size: 1rem;
}

.language svg {
  height: 2em;
  width: 2em;
  vertical-align: middle;
}

.language-row {
  width: 75%;
}

/* Add space between ProductList component and the footer */
.ProductList {
  margin-bottom: 20px;
  /* Adjust margin as needed for spacing */
}

.tabs {
  background-color: aliceblue;
  color: var(--ifm-tabs-color);
  display: flex;
  margin-bottom: 0;
  overflow-x: auto;
  padding-left: 0;
  font-weight: normal;
  font-size: smaller;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.tabs__item {
  border-bottom: 1px solid transparent;
  border-radius: 0;
  cursor: pointer;
  display: inline-flex;
  transition: background-color var(--ifm-transition-fast) var(--ifm-transition-timing-default);
  padding: 8px;
}

.tabs__item--active {
  font-weight: 600;
  border-bottom: 1px solid var(--ifm-color-primary);
  color: var(--scalekit-blue);
}

.loginLink {
  padding-right: 12px !important;
  padding-top: 3px;
  padding-left: 12.2px;
  padding-bottom: 3px;
  border-radius: 5px;
  margin-right: 20px;
  margin-left: 20px;
  background-color: #000000;
  color: #ffffff;
  font-weight: 550;
  text-align: center;
}

.loginLink:hover {
  background-color: #202020;
  padding-top: 2.6px;
  padding-left: 12.2px;
  padding-bottom: 3px;
  margin-right: 20px;
  margin-left: 20px;
  text-decoration: none;
  color: #ffffff;
}
.iconExternalLink_node_modules-\@docusaurus-theme-classic-lib-theme-Icon-ExternalLink-styles-module {
  display: none;
}

.simple_code {
  font-size: 0.9rem !important;
  background: none;
  border: none;
  white-space: nowrap;
  vertical-align: baseline;
}

[data-tooltip] {
  position: relative;
  border-bottom: 1px dashed #000;
}

[data-tooltip]::after {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  content: attr(data-tooltip);
  left: calc(-50%);
  width: 200px;
  bottom: calc(100% + 10px);
  border-radius: 3px;
  box-shadow: 0 0 5px 2px rgba(100, 100, 100, 0.6);
  background-color: white;
  z-index: 10;
  padding: 8px;
  transform: translateY(-20px);
  transition: all 150ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

[data-tooltip]:hover::after {
  opacity: 1;
  transform: translateY(0);
  transition-duration: 300ms;
}

/* // temporarily hide the category from search results till we fix it.
.DocSearch-Hit-source {
  display: none;
} */

/* Docs Rating Box */

.docsRating {
  display: inline-block;
  font-weight: 500;
  border-radius: 0 var(--ifm-global-radius) var(--ifm-global-radius) 0;
}

.docsRating svg {
  margin: 0 0 0 6px;
}

/*API Reference*/
.section {
  border-bottom: 1px solid var(--scalar-border-color);
  padding-bottom: 20px;
}

.scalar-card {
  all: unset;
  border: 1px solid var(--scalar-border-color);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  font-family: var(--ifm-font-family-base);
  max-height: calc(var(--full-height) / 2 - var(--refs-header-height) / 2 - 30px);
  overflow: hidden;
  position: relative;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.scalar-card .tabs-container {
  margin-bottom: 0;
}

.scalar-card table {
  margin-bottom: 0;
  border: 0;
}

.scalar-card table tr {
  border: 0;
}

.scalar-card table th {
  white-space: nowrap;
}

.scalar-card-sticky {
  position: sticky;
  top: 4rem;
}

.scalar-card-header {
  background-color: var(--scalar-background-2);
  border-bottom: 1px solid var(--scalar-border-color);
  color: var(--scalar-color-3);
  flex-shrink: 0;
  font-size: var(--scalar-small);
  font-weight: var(--scalar-semibold);
  padding: 9px 0 9px 12px;
}

.scalar-card-header-title {
  flex: 1;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  font-size: 12px;
}

.scalar-card-header-title span {
  display: inline;
  padding-right: 12px;
}

.scalar-card-header-title span.method.get,
.endpoint span.get {
  color: var(--scalar-color-blue);
  text-transform: uppercase;
  font-size: 12px;
}

.scalar-card-header-title span.method.post,
.endpoint span.post {
  color: var(--scalar-color-green);
  text-transform: uppercase;
  font-size: 12px;
}

.scalar-card-header-title span.method.delete,
.endpoint span.delete {
  text-transform: uppercase;
  color: var(--scalar-color-red);
  font-size: 12px;
}

.scalar-card-header-title span.method.patch,
.endpoint span.patch {
  text-transform: uppercase;
  color: var(--scalar-color-yellow);
  font-size: 12px;
}

.scalar-card-header-title span.method.put,
.endpoint span.put {
  text-transform: uppercase;
  color: var(--scalar-color-orange);
}

.scalar-card-header-title span.method.put,
.endpoint span.event {
  text-transform: uppercase;
  color: var(--scalar-color-purple);
}

.scalar-card-header-title span.endpoint {
  text-transform: none;
  color: var(--scalar-color-1);
  font-family: var(--ifm-font-family-monospace);
}

.scalar-card-content {
  overflow: auto;
}

.scalar-card-header-slots {
  display: flex;
  justify-content: space-between;
  line-height: 1.35;
}

.endpoints {
  background: var(--scalar-background-2);
  overflow: auto;
  padding: 10px 12px;
}

.endpoint {
  cursor: pointer;
  display: flex;
  white-space: nowrap;
}

.endpoint:hover {
  text-decoration: none;
}

.endpoint span {
  color: var(--scalar-color-1);
  cursor: pointer;
  display: inline-block;
  font-family: var(--ifm-font-family-monospace);
  font-size: 12px;
  line-height: 1.55;
  min-width: 62px;
  text-align: right;
}

.endpoint span + span {
  margin-left: 12px;
  text-align: left;
  text-transform: none;
}

.scalar-card-content .theme-code-block {
  margin-bottom: 0 !important;
}

.scalar-card-content .tabs {
  border-radius: 0px;
}

.scalar-card-content p {
  font-size: 14px;
  padding: 12px;
  margin: 0;
}

.ApiReference-Parameters {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  row-gap: 16px;
  align-items: stretch;
  padding: 0;
}

.ApiReference-Parameter {
  list-style: none;
  border-bottom: 1px solid var(--scalar-border-color);
  padding-bottom: 1rem;
  font-size: 14px;
}

.ApiReference-Parameter:last-child {
  border-bottom: 0;
}

.ApiReference-Parameter.header {
  font-weight: 600;
  font-size: 1rem;
  padding-top: 1rem;
}

.ApiReference-Parameter .attr {
  display: flex;
  flex-direction: row;
  gap: 9px;
  align-items: baseline;
}

.ApiReference-Parameter .attr .key {
  font-family: var(--ifm-font-family-monospace);
  font-weight: 500;
}

.ApiReference-Parameter .attr .required {
  text-transform: uppercase;
  color: var(--semantic-palette-orange);
  font-weight: 500;
  font-size: smaller;
}

.headingWithStickyNavBar {
  scroll-margin-top: calc(var(--ifm-navbar-height) + 0.5rem);
}

.menu__list-item.undefined .menu__link {
  color: var(--primary-graphite-500);
}

.ApiCategoryList {
  padding-left: 14px;
}

.ApiCategoryList.method a {
  display: flex;
  justify-content: space-between;
}

.ApiCategoryList.method a:after {
  font-family: var(--ifm-font-family-monospace);
  font-weight: 600;
  font-size: smaller;
  color: var(--method-color);
  border-radius: 1rem;
  text-align: center;
  white-space: nowrap;
  margin-left: 3px;
  min-width: 3.9em;
  overflow: hidden;
  padding: 3px;
  position: relative;
}

.ApiCategoryList.get a:after {
  content: 'GET';
  --method-color: var(--scalar-color-blue);
}

.ApiCategoryList.post a:after {
  content: 'POST';
  --method-color: var(--scalar-color-green);
}

.ApiCategoryList.delete a:after {
  content: 'DEL';
  --method-color: var(--scalar-color-red);
}

.ApiCategoryList.patch a:after {
  content: 'PATCH';
  --method-color: var(--scalar-color-yellow);
}

.ApiCategoryList.put a:after {
  content: 'PUT';
  --method-color: var(--scalar-color-orange);
}

.ApiCategoryList.webhook a:after {
  content: 'EVENT';
  --method-color: var(--scalar-color-purple);
}

.sidebarContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: var(--ifm-navbar-height);
  width: var(--doc-sidebar-width);
}

.col:has(.custom_container) {
  padding: 0;
}

.custom_container aside {
  display: block;
  width: var(--doc-sidebar-width);
  min-width: var(--doc-sidebar-width);
  border-right: 1px solid var(--ifm-toc-border-color);
  will-change: width;
  transition: width var(--ifm-transition-fast) ease;
  clip-path: inset(0);
  margin-top: calc(var(--ifm-navbar-height) * -1);
}

.sidebar {
  top: 0;
  position: sticky;
  height: 100%;
  max-height: 100vh;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: var(--ifm-navbar-height);
  width: var(--doc-sidebar-width);
}

.custom_container {
  display: flex;
  width: 100%;
}

.custom_container .markdown {
  margin: 0 calc(var(--ifm-spacing-horizontal) * 1);
  padding: 0 4%;
}

article:has(.custom_container) {
  padding: 0;
}

.margin-vert--lg:has(.custom_container) {
  margin: 0 !important;
}

.ApiReference-Parameters details.alert {
  padding: 0.5rem;
  background-color: transparent;
  --docusaurus-details-decoration-color: var(--ifm-toc-border-color);
  border-color: var(--ifm-toc-border-color);
}

.ApiReference-Parameters summary {
  font-weight: 500;
}

.ApiReference-Parameters details.alert > summary:before {
  border-color: transparent transparent transparent var(--ifm-color-primary);
}

::marker {
  display: none;
}

.docsRating .btn-outline {
  width: auto;
  margin: 0 8px;
  color: var(--ifm-color-primary);
}

.btn-outline {
  align-items: center;
  background-color: #fff;
  padding-left: 8px;
  padding-right: 8px;
}

.btn-outline svg {
  height: 12px;
}

.btn-outline:hover {
  background-color: #f9f9f9;
  text-decoration: none;
}

.hidden {
  display: none;
}

.feedbackContainer {
  text-align: left;
  margin-left: 0;
  margin-top: 20px;
}

.feedbackContainer textarea {
  border: 1px solid #cecece;
  width: 100%;
  font-size: 0.9rem;
  padding: 0.5rem;
  padding: 0.5rem;
}

.feedbackContainer a.btn {
  font-size: 0.9rem;
  margin-left: 0;
}

h1 .badge {
  font-size: small;
  vertical-align: middle;
}

.sidenav-category-heading {
  font-weight: 600;
  color: var(--primary-graphite-300);
  font-size: small;
  font-family: var(--ifm-heading-font-family);
  letter-spacing: 0.5px;
}

.menu__list-item:has(.sidenav-category-heading) {
  padding-bottom: 0px;
}

.full_border {
  border: 1px solid #ccc;
  border-radius: 8px;
}

.simple_card {
  padding: 10px;
  display: inline-block;
}

/* Adjusts the size of the slide-in menu when the screen width is less than 990px */
@media screen and (max-width: 990px) {
  .navbar-sidebar {
    max-width: 35%;
  }
}

/* Shiki Styles */
*,
*::before,
*::after {
  --shiki-dark: var(--ifm-pre-color);
  --shiki-dark-bg: var(--ifm-color-emphasis-100);
}

[data-theme='dark'] .shiki {
  background-color: var(--shiki-dark-bg) !important;
}

[data-theme='dark'] .shiki,
[data-theme='dark'] .shiki span {
  color: var(--shiki-dark) !important;
}

.shiki code {
  /* display as flex-column to remove gap from line-breaks */
  display: flex;
  flex-direction: column;
  width: min-content;
  min-width: 100%;
}

/* display additional space so that empty lines don't collapse */
/* note that this is only visual and content does not get copied */
.shiki .line:not(:last-child):empty::after {
  content: ' ';
}

/* highlighted */
.shiki .line.highlighted {
  position: relative;
  display: inline-block;
  margin: 0 calc(var(--ifm-pre-padding) * -1);
  padding: 0 var(--ifm-pre-padding);
  width: calc(100% + calc(var(--ifm-pre-padding) * 2));
}

.shiki .line.highlighted {
  /* background-color: yellow; */
  background-color: rgba(200, 200, 255, 0.3);
}

/* diff */
.shiki .line.diff {
  position: relative;
  display: inline-block;
  margin: 0 calc(var(--ifm-pre-padding) * -1);
  padding: 0 var(--ifm-pre-padding);
  width: calc(100% + calc(var(--ifm-pre-padding) * 2));
}

.shiki .line.diff::before {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 0 0.5em 0 0.2em;
}

.shiki .line.diff.add {
  background-color: var(--wasmcloud-code-diff-add-bg);
}
.shiki .line.diff.add::before {
  color: var(--wasmcloud-code-diff-add);
  content: '+';
}

.shiki .line.diff.remove {
  background-color: var(--wasmcloud-code-diff-remove-bg);
  user-select: none;
}
.shiki .line.diff.remove::before {
  color: var(--wasmcloud-code-diff-remove);
  content: '-';
}

/* focus */
.shiki:has(.focused) .line:not(.focused) {
  filter: blur(0.095rem);
  opacity: 0.4;
  transition:
    filter 0.35s,
    opacity 0.35s;
}
.shiki:has(.focused):hover .line:not(.focused) {
  filter: blur(0);
  opacity: 1;
}

.shiki .line.focused {
  opacity: 1;
}

.shiki code {
  counter-reset: step;
  counter-increment: step 0;
}

.shiki code .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1.4rem;
  margin-right: 1.5rem;
  display: inline-block;
  text-align: right;
  color: rgba(115, 138, 148, 0.4);
}

.shiki code .line:last-child:empty::before {
  content: none;
  counter-increment: none;
}

/* End Shiki Styles */
